.content{
  width: 98%;
}
.mainTitle{
  font-size: 35px;
  font-weight: 600;
  font-family: var(--main-kr-font);
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--font-gray50-color);
}
.optionContainer{
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}
.default{
  margin-right: 10px;
}

.default,.manager{
  width: 220px;
  height: 45px;
  font-size: 22px;
  font-family: var(--main-kr-font);
  font-weight: 500;
  cursor: pointer;
}
.default:hover,.manager:hover{
  color: var(--main-font-strong-color);
}

.pagination{
  display: flex;
  padding-left: 0;
  list-style: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.item a {
  position: relative;
  display: block;
  font-size: 25px;
  font-family: var(--main-eg-font);
  padding: 5px 8px;
  color: #2F4858;
  text-decoration: none;
  background-color: #fff;
  border: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 0 5px;
}

.item a:hover {
  z-index: 2;
  color: #2F4858;
  background-color: var(--main-color);
  border-color: #2F4858;
}
.current a{
  z-index: 3;
  color: #ffffff;
  background-color: var(--btn-pink-color);
  text-decoration: underline;
  border-color: #2F4858;
}
.break{
  color: #2F4858;
  font-size: 20px;
  margin: 0 5px;
}
.next, .prev{
  margin: 0 20px;
}
@media screen and (max-width:1024px){
 .default,.manager{
  width: 180px;
 }
}
@media screen and (max-width:967px){
  .mainTitle{
    font-size: 28px;
  }
  .title{
    font-size: 24px;
  }
  .optionContainer{
    margin-bottom: 20px;
  }
}
@media screen and (max-width:768px){
  .container{
  width: 98%;
}
  .title{
    font-size: 20px;
  }
    .default,.manager{
  width: 180px;
 }
   .item a{
  font-size: 20px;
   margin: 0 2px;
 }
 .next, .prev{
  margin: 0 8px;
  }
}