.table{
  width: 100%;
  border-collapse: collapse;
  font-size: 22px;
  font-family: var(--main-kr-font);
  margin-bottom: 20px;
}
.th{
  border-bottom: 1px solid var(--line-light-color);
}
.btns{
  width: 20%;
}
.btn{
  width: 120px;
  margin: 0 auto;
}
.userid,.nickname,.phone{
  width: auto;
  font-size: 20px;
}
.nickname, .phone,.btn{
  text-align: center;
}
.tr{
  height: 45px;
}
.admin{
  margin-right: 5px;
  color: var(--main-strong-color);
  font-weight: 600;
}
.noUser{
  text-align: center;
}

.pagination{
  display: flex;
  padding-left: 0;
  list-style: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.item a {
  position: relative;
  display: block;
  font-size: 25px;
  font-family: var(--main-eg-font);
  padding: 5px 8px;
  color: #2F4858;
  text-decoration: none;
  background-color: #fff;
  border: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 0 5px;
}

.item a:hover {
  z-index: 2;
  color: #2F4858;
  background-color: var(--main-color);
  border-color: #2F4858;
}
.current a{
  z-index: 3;
  color: #ffffff;
  background-color: var(--btn-pink-color);
  text-decoration: underline;
  border-color: #2F4858;
}
.break{
  color: #2F4858;
  font-size: 20px;
  margin: 0 5px;
}
.next, .prev{
  margin: 0 20px;
}
@media screen and (max-width:1350px){
  
}
@media screen and (max-width:1280px){

}
@media screen and (max-width:1024px){

}
@media screen and (max-width:967px){
  .table{
    font-size: 20px;
  }
  .userid,.nickname,.phone{
    font-size: 18px;
  }
}
@media screen and (max-width:768px){
  .table{
    font-size: 14px;
  }
  .userid,.nickname,.phone{
     font-size: 14px;
     width: auto;
  }
  .admin{
    word-break: break-all;
    margin-right: 2px;
    font-size: 12px;
  }
  .th{
    word-break: keep-all;
  }
  .btn,.btns{
    width: auto;
  }
    .item a{
  font-size: 20px;
   margin: 0 2px;
 }
 .next, .prev{
  margin: 0 8px;
  }
}