.container{
  width: 80%;
  height: 60vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  font-size: 45px;
  font-family: var(--main-kr-font);
  font-weight: 500;
  height: 150px;
}
.btn{
  width: 500px;
  height: 60px;
}

@media screen and (max-width:1350px){
  
}
@media screen and (max-width:1280px){

}
@media screen and (max-width:1024px){

}
@media screen and (max-width:967px){
  .btn{
    width: 60%;
    height: 60px;
  }
  .title{
    font-size: 30px;
  }
}
@media screen and (max-width:768px){
   .title{
    font-size: 24px;
   }
   .btn{
    width: 90%;
  }
}