.btnContainer{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.table{
  min-height: 60vh;
}
.tbodyTr{
  height: 50px;
}
.btn{
  margin-left: 20px;
}
.container{
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.table{
  border-collapse: collapse
}
.thead,.tbody{
  border-bottom: 2px solid #000;
}
.tbodyTr{
   border-bottom: 1px solid #B7B7B7;
}
.theadTr, .tbodyTr{
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-family: var(--main-kr-font);
}
.description{
  text-align: justify;
  font-family: var(--main-kr-font);
  padding: 20px;
}
.moreBtnWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.moreBtn{
  background-color: var(--main-strong-color);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: var(--main-kr-font);
  text-decoration: underline;
  font-size: 18px;
  font-weight: 600;
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all .2s;
}
.moreBtn:hover{
  background-color: #fff;
  border:2px solid var(--main-strong-color);
  color: var(--main-color);
}

@media screen and (max-width : 1500px){

}
@media screen and (max-width : 1280px){
  .container{
    width: 1000px;
  }
}
@media screen and (max-width : 1028px){
  .container{
    width: 90%;
  }
}
@media screen and (max-width : 967px){
  .theadTr, .tbodyTr{
    font-size: 20px;
  }
}
@media screen and (max-width : 768px){
  .container{
    width: 95%;
  }
  .theadTr, .tbodyTr{
    font-size: 16px;
  }
  .tdDate{
    font-size: 12px;
  }
  .btnContainer{
    padding: 0;
    width: 100%;
  }
  .btn{
    width: 100px;
    height: 36px;
    margin: 20px 5px 20px 5px;
  }
}
