.container{
  width: 100%;
  margin: 0 auto;
}
.mainTitle{
  font-size: 30px;
  height: 50px;
  font-weight: 600;
  font-family: var(--main-kr-font);
  width: 100%;
  text-align: center;
  background-color: var(--main-color);
}
.adminTitle{
  font-size: 30px;
  font-weight: 600;
  font-family: var(--main-kr-font);
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--font-gray50-color);
}
.btnContainer{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.btn{
  width: 300px;
}

@media screen and (max-width : 1500px){
.btnContainer{
    width: 95%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width : 1280px){

}
@media screen and (max-width : 967px){
  .mainTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }
}
@media screen and (max-width : 768px){
  .btn{
    width: 100px;
    height: 36px;
  }
}
